<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="modellingDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ParkbeheerMODELLING ;Integrated Security=True;TrustServerCertificate=true" />
		<add name="ParkbeheerDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Parkbeheer ;Integrated Security=True;TrustServerCertificate=true" />
	</connectionStrings>
</configuration>